*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Inter, sans-serif;
  font-size: 100%;
  line-height: 1.6;
  letter-spacing: .06em;
  background-color: var(--bg);
  color: var(--fg);
}

body {
  width: 1024px;
  margin: auto;
}
